html.dark {
  /**
  * Github Dark theme for Prism.js
  * Based on Github: https://github.com
  * @author Katorly
  */
  /* General */
  /* Line highlighting */
  /* Tokens */
}
html.dark pre[class*=language-],
html.dark code[class*=language-] {
  color: #c9d1d9;
  font-size: 13px;
  text-shadow: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}
html.dark pre[class*=language-]::-moz-selection, html.dark code[class*=language-]::-moz-selection {
  text-shadow: none;
  background: #234879;
}
html.dark pre[class*=language-]::selection,
html.dark code[class*=language-]::selection,
html.dark pre[class*=language-]::mozselection,
html.dark code[class*=language-]::mozselection {
  text-shadow: none;
  background: #234879;
}
@media print {
  html.dark pre[class*=language-],
  html.dark code[class*=language-] {
    text-shadow: none;
  }
}
html.dark pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #161b22;
  border: 2px solid #161b22;
  @apply ring ring-2 ring-primary/80;
}
html.dark :not(pre) > code[class*=language-] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #c9d1d9;
  background: #343942;
}
html.dark pre[data-line] {
  position: relative;
}
html.dark pre[class*=language-] > code[class*=language-] {
  position: relative;
  z-index: 1;
}
html.dark .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #2f2a1e;
  box-shadow: inset 5px 0 0 #674c16;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
html.dark .namespace {
  opacity: 0.7;
}
html.dark .token.comment,
html.dark .token.prolog,
html.dark .token.doctype,
html.dark .token.cdata {
  color: #8b949e;
}
html.dark .token.punctuation {
  color: #c9d1d9;
}
html.dark .token.property,
html.dark .token.tag,
html.dark .token.boolean,
html.dark .token.number,
html.dark .token.constant,
html.dark .token.symbol,
html.dark .token.deleted {
  color: #79c0ff;
}
html.dark .token.selector,
html.dark .token.attr-name,
html.dark .token.string,
html.dark .token.char,
html.dark .token.builtin,
html.dark .token.inserted {
  color: #a5d6ff;
}
html.dark .token.operator,
html.dark .token.entity,
html.dark .token.url,
html.dark .language-css .token.string,
html.dark .style .token.string {
  color: #a5d6ff;
  background: #161b22;
}
html.dark .token.atrule,
html.dark .token.attr-value,
html.dark .token.keyword {
  color: #a5d6ff;
}
html.dark .token.function {
  color: #d2a8ff;
}
html.dark .token.regex,
html.dark .token.important,
html.dark .token.variable {
  color: #a8daff;
}
html.dark .token.important,
html.dark .token.bold {
  font-weight: bold;
}
html.dark .token.italic {
  font-style: italic;
}
html.dark .token.entity {
  cursor: help;
}

html.light {
  /**
  * Github Light theme for Prism.js
  * Based on Github: https://github.com
  * @author Katorly
  */
  /* General */
  /* Line highlighting */
  /* Tokens */
}
html.light pre[class*=language-],
html.light code[class*=language-] {
  color: #24292f;
  font-size: 13px;
  text-shadow: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}
html.light pre[class*=language-]::-moz-selection, html.light code[class*=language-]::-moz-selection {
  text-shadow: none;
  background: #9fc6e9;
}
html.light pre[class*=language-]::selection,
html.light code[class*=language-]::selection,
html.light pre[class*=language-]::mozselection,
html.light code[class*=language-]::mozselection {
  text-shadow: none;
  background: #9fc6e9;
}
@media print {
  html.light pre[class*=language-],
  html.light code[class*=language-] {
    text-shadow: none;
  }
}
html.light pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #f6f8fa;
  border: 2px solid #f6f8fa;
  @apply ring ring-2 ring-primary/80;
}
html.light :not(pre) > code[class*=language-] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #24292f;
  background: #eff1f3;
}
html.light pre[data-line] {
  position: relative;
}
html.light pre[class*=language-] > code[class*=language-] {
  position: relative;
  z-index: 1;
}
html.light .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #fff8c5;
  box-shadow: inset 5px 0 0 #eed888;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
html.light .namespace {
  opacity: 0.7;
}
html.light .token.comment,
html.light .token.prolog,
html.light .token.doctype,
html.light .token.cdata {
  color: #6e7781;
}
html.light .token.punctuation {
  color: #24292f;
}
html.light .token.property,
html.light .token.tag,
html.light .token.boolean,
html.light .token.number,
html.light .token.constant,
html.light .token.symbol,
html.light .token.deleted {
  color: #0550ae;
}
html.light .token.selector,
html.light .token.attr-name,
html.light .token.string,
html.light .token.char,
html.light .token.builtin,
html.light .token.inserted {
  color: #0a3069;
}
html.light .token.operator,
html.light .token.entity,
html.light .token.url,
html.light .language-css .token.string,
html.light .style .token.string {
  color: #0550ae;
}
html.light .token.atrule,
html.light .token.attr-value,
html.light .token.keyword {
  color: #cf222e;
}
html.light .token.function {
  color: #8250df;
}
html.light .token.regex,
html.light .token.important,
html.light .token.variable {
  color: #0a3069;
}
html.light .token.important,
html.light .token.bold {
  font-weight: bold;
}
html.light .token.italic {
  font-style: italic;
}
html.light .token.entity {
  cursor: help;
}

.prose .code-line {
  @apply lg:text-base;
}
.prose .highlight-line {
  width: 100%;
  display: block;
  --space: 0px;
  background-color: hsl(var(--primary)/0.2) !important;
  padding-top: var(--space);
  padding-bottom: var(--space);
  padding-right: var(--space);
  margin-top: calc(-1 * var(--space));
  margin-bottom: calc(-1 * var(--space));
  margin-right: calc(-1 * var(--space));
  --space-left: 6px;
  margin-left: calc(-1 * var(--space-left));
  padding-left: var(--space-left);
  border-left: 4px solid hsl(var(--primary)/0.8);
}
.prose.code-highlight {
  width: 100%;
  display: block;
}
.prose code:not(.code-highlight):not(.not-prose code) {
  @apply bg-primary/20 -my-1 py-1 px-0.5 border-primary/60 font-mono border rounded-sm;
}
.prose code:not(.code-highlight):not(.not-prose code)::after {
  content: "";
}
.prose code:not(.code-highlight):not(.not-prose code)::before {
  content: "";
}/*# sourceMappingURL=code-theme.css.map */